[user]
  name = Gadzhi Gadzhiev
  email = gadzhi@gadzhiev.com
[heroku]
  account = resure
[core]
  editor = mvim
[alias] co = checkout
  st = status -s
  l = log --graph --pretty=format':%C(yellow)%h%Cgreen%d%Creset %s %C(white) %an, %ar%Creset'
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  d = difftool
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  default = current
[core]
  excludesfile = $HOME/.gitignore_global
  autocrlf = input
[apply]
  whitespace = warn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[diff]
  tool = mvimdiff
[difftool]
  prompt = false
[include]
  path = /Users/resure/.gitconfig_local
